<div class="container infos" >
    
    <div class="links row">
        <div class="col-xs-6">
            <a ng-href="#/all/{{dwelling.id}}" ><img src="img/icon-orchard.png" alt="Retour au verger" width="51" height="30"> <span class="hidden-xs">Retour au verger</span></a>
        </div>
        <div class="col-xs-6"> 
            <a class="pull-right" href="#/account">
                <span class="hidden-xs">Bonjour {{$parent.userName}} ! </span><img ng-src="img/{{$parent.avatar}}" alt="" width="20" height="40">
            </a>    
        </div>
    </div>

    <div class="presentation">
        L'application Jeko vous est proposée par <a href="http://www.hmpmarseille.fr"><br>
        <img src="img/logo-HMP.png" alt="Logo HMP"></a>
        <br><br><br>
        dans le cadre du projet européen<br>
        <a href="http://www.med-encerticus.eu"><img src="img/logo-encerticus.png" alt="logo Encerticus"></a>
    </div>
    <h2>Mentions légales</h2>
    <div>
        Habitat Marseille Provence<br>
        25, Avenue de Frais Vallon – 13388 Marseille Cedex 13<br>
        <a href="http://www.hmpmarseille.fr">www.hmpmarseille.fr</a>
        <br><br><br>
        Hébergeur : Ikoula<br>
        175-177 rue d'Aguesseau<br>
        92100 Boulogne Billancourt<br> 
        Tél. : 0 892 350 503<br>
    </div>
    <br>
    <p>Réalisation : <a href="http://incub.net">Incub'</a>, Ludix, <a href="http://www.sens-ludique.com/">Sens ludique</a> et <a href="http://www.36tribus.com">36tribus</a></p>
</div>