<div class="modal-header">
    <h3 class="modal-title">Tous ensemble à la Grotte Rolland, économisons l'énergie !</h3>
</div>
<div class="modal-body gauge-body">
    <p>Le défi collectif :  10 % de moins par rapport aux consommations habituelles !
        <br> (gaz, électricité et eau)
    </p>
    <gauge class="gauge" data="gaugeValue" id="gauge"></gauge>
    <p>Consommation collective</p>
    <p>Si la flèche est toujours dans le vert le 1er juin 2015, <span class="you">grâce à vous tous</span>, un arbre sera planté à la Grotte Rolland.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Fermer</button>
</div>
