<div class="btn-group hidden-xs start-help pull-right" >
        <button id="help-help" type="button" class="btn dropdown-toggle btn-icon btn-trees" data-toggle="dropdown" title="Aide">
            <span class="glyphicon glyphicon-question-sign"> </span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="" ng-click="startHelp(helpFirstIndex)">Aide</a></li>
            <li><a href="docs/user-guide.pdf" target="_blank">Manuel d'utilisation</a></li>
         </ul>
        <button ng-click="$parent.exit()" type="button" class="btn btn-icon btn-trees" title="Quitter JEKO">
            <span class="glyphicon glyphicon-log-out"></span>
        </button>
</div>
